body {
    margin: 20px;
    background-color: lightsteelblue;
    /*flex-direction: column;*/
}


/* Классы */
div.container {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    background-color: lightyellow;
}

/* АйДишники */
#heading {
    display: flex;
}

#menu {
    display: flex;
    margin-left: auto;
    }

#workspace {
    display: flex;
}

#findField {
    font-size: 20px;
    display: flex;
    flex-direction: column;
}

#newStudent {
    display: none;
    
    position:relative;
    left:40%;

    padding: 25px;
    
    width: 250px;
    font-size: 17px;

}

/* Кнопки, поля ввода*/
input {
    width:inherit;
}

#menuButton {
    font-size:25px;
    width: 120px;
    text-align: center;
    background-color: lightyellow;
    border-bottom: 1px solid black;
    
    margin-top:30px;
    height: 40px;
    margin-right: 20px;
}


h2 {
    margin-left: 10px;
}

div.But:hover {
    color: grey;
}

#footer {
    margin: auto;
    width: 100%;
    background-color: aqua;
    height: 100%;
    text-align: center;
    font-size: 22.5px;
}

a {
    color: Black;
    text-decoration: none;
}

txt {
    border-bottom: 1px solid black;
}

    txt:hover {
        color: grey;
    }

txtsize {
    font-size: 23px;
    margin-top: 5px;
}

#infoUser {
    font-size: 20px;

    /*display:flex;*/
}

button {
    margin-bottom: 10px;
   
    width: inherit;
    
    
    
    margin-top: 10px;
}

#man, #woman {
    width: 30px;
}

p{
       margin: 5px;
}

