body {
    margin: 20px;
    background-color: lightsteelblue;
    /*flex-direction: column;*/
}


/* Классы */
div.container {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
    background-color: lightyellow;
    
    
}

/* АйДишники */
#heading{
    display: flex;
}

#menu {
    /*margin-left:175px;*/
    display: flex;
    margin-left: auto;
}

#workspace{
    display: flex;
}

#findField {
    font-size: 20px; 
    
}

#newStudent {
    display: none;
    padding-left: 25px;
    padding-right: 25px;
    width: 250px;
    margin-left: 40%;
    font-size: 17px;
}

/* Кнопки, поля ввода*/
input {
    margin-bottom: 10px;
    
}

#menuButton {

    font-size: 25px;
    width: 125px;
  
    text-align: center;
    background-color: lightyellow;
    border-bottom: 1px solid black;
    margin: 5px 10px 20px 10px;
}

h2 {
    margin-left:10px;
}

div.But:hover{color:grey;}

#footer {
    margin: auto;
    width: 100%;
    background-color: aqua;
    height: 100%;
    text-align: center;
    font-size: 22.5px;
}

a {
    color: Black;
    text-decoration: none;
}
txt{
    border-bottom:1px solid black;
}
txt:hover {
    color: grey;
}
txtsize{
    font-size:23px;
}
#infoUser {
    
    font-size:18px;
    /*display:flex;*/
}
.name{
    
    width:250px;
}
.find{
    width: 257px;
}
button {
    margin-bottom: 10px;
    
    width: 257px;
}
#man,#woman{
    width:30px;

}







